<h1>Create a new User!</h1>

<form method="post" action="/users">
	Username:
  <input type="text" name="username">
  Password:
  <input type="text" name="password">
  <input type="submit">
</form>