<h4>Create a new post!</h4>

<form action="/posts" method="post">
	Title: <input name="title" type="text">
	Description: <input name="description" type="text">
	URL: <input name="url" type="text">
	<input type="submit">
</form>