<h1>Please login first before proceeding</h1>
<form method="post" action="/validate">
	<h4>Username:</h4><input type="text" name="username">
	<h4>Password:</h4><input type="text" name="password">
	<input type="submit">
</form>